{% include "components/material_icons.html" %}

<div class="topnav">
  {% if current_user.user_id %}
    <a href="/home">
      <span class="material-icons">home</span>
    </a>
    <div>
      <a href="/profile" id="profile_button">
        <span class="material-icons">account_circle</span>
        {{ current_user.username }}
      </a>
      <a href="/logout" id="logout_button">Logout</a>
    </div>
  {% else %}
    <a href="/login" class="a_button" style="margin: 8px;">Login</a>
  {% endif %}
</div>