FLASK_APP=flaskapp.py
FLASK_ENV=dev
DEV_DB_URI=postgresql://nichostst:pass@localhost:5432/nichostst
SECRET_KEY=268c6df949fef5632039bcd07c6ec83b6198e22ef1262a53a65017631a770144
REMEMBER_COOKIE_HTTPONLY=True
SESSION_COOKIE_SAMESITE=Lax