<!-- CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<!-- JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<style>
  .dataTable:not(#\9) {
    margin-top: -30pt;
    display: inline-table;
    font-size: 10pt;
  }

  .paginate_button.current:not(#\9) {
    background: rgb(40, 40, 40) !important;
    color: rgb(220, 220, 220) !important;
  }

  .paginate_button.current:hover:not(#\9) {
    background: rgb(220, 220, 220) !important;
    color: rgb(40, 40, 40) !important;
  }

  .dataTables_length {
    display: inline;
    visibility: hidden;
  }

  .dataTables_filter {
    display: inline;
    visibility: hidden;
  }

  .dataTables_info {
    font-size: 10pt;
    margin-top: -5pt;
  }

  div.dataTables_paginate {
    font-size: 10pt;
  }

  .odd {
    background: rgba(240, 240, 240, 1) !important;
  }
  .even {
    background: rgba(220, 220, 220, 1) !important;
  }

  td {
    border-bottom: none;
  }
</style>

