{% extends "base.html" %}

{% block styles %}
  {% include "styling/table.html" %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}">
{% endblock %}

{% block content %}
  {% include "components/topnav.html" %}

  <div class="content">
    <div class="row content_header">
      <div class="col user_icon">
        <a href="/profile"><span class="material-icons">account_circle</span></a>
      </div>
      <div class="col user_block">
        <a class="username" href="/profile">{{ current_user.username }}</a>
        <div class="user_role">admin</div>
      </div>
    </div>

    <!-- Tabs -->
    <div class="row content_tab">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#user_view_tab">User View</a></li>
          <li class="tab col s3"><a href="#module_view_tab">Module View</a></li>
        </ul>
      </div>
    </div>

    <!-- User view -->
    <div class="row content_tab" id="user_view_tab">
      <div class="stat_row">
        <div class="card stat col">
          <div class="stat_key" style="color:indianred">Users</div>
          <div class="stat_value">{{ role_counts['all'] }}</div>
        </div>
        <div class="card stat col">
          <div class="stat_key" style="color:darkolivegreen">Coordinators</div>
          <div class="stat_value">{{ role_counts['coordinator'] }}</div>
        </div>
        <div class="card stat col">
          <div class="stat_key" style="color:darkgoldenrod">Lecturers</div>
          <div class="stat_value">{{ role_counts['lecturer'] }}</div>
        </div>
        <div class="card stat col">
          <div class="stat_key" style="color:cornflowerblue">Students</div>
          <div class="stat_value">{{ role_counts['student'] }}</div>
        </div>
      </div>
      <div class="card" id="user_view">
        <div class="card_title">
          Users
        </div>

        {{ tables.user|safe }}

        <script>
          $(document).ready(function () {
            $('#user-table').DataTable();
          });
        </script>

        <a href="/admin/new_user" class="a_button">Create new user</a>
      </div>
    </div>

    <!-- Module view -->
    <div class="row content_tab" id="module_view_tab">
      <div class="card" id="module_view">
        <div class="card_title">
          Modules
        </div>

        {{ tables.module|safe }}

        <script>
          $(document).ready(function () {
            $('#module-table').DataTable();
          });
        </script>

        <a href="/admin/new_module" class="a_button">Create new module</a>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>

{% endblock %}