{% extends "base.html" %}

{% block styles %}
  {% include "styling/table.html" %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}">
{% endblock %}

{% block content %}
  {% include "components/topnav.html" %}

  <h2>
    Admin
  </h2>

  <!-- Tabs -->
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#user_view_tab">User View</a></li>
        <li class="tab col s3"><a href="#module_view_tab">Module View</a></li>
      </ul>
    </div>

    <!-- User view -->
    <div id="user_view_tab" class="col s12">
      <div id="user_view" class="card">
        <h3 class="card_title">Users</h3>

        {{ tables.user|safe }}

        <script>
          $(document).ready(function () {
            $('#user-table').DataTable();
          });
        </script>

        <a href="/admin/new_user" class="a_button">Create new user</a>
      </div>
    </div>

    <!-- Module view -->
    <div id="module_view_tab" class="col s12">
      <div id="module_view" class="card">
        <h3 class="card_title">Modules</h3>

        {{ tables.module|safe }}

        <script>
          $(document).ready(function () {
            $('#module-table').DataTable();
          });
        </script>

        <a href="/admin/new_module" class="a_button">Create new module</a>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>

{% endblock %}