{% extends "base.html" %}

{% block styles %}
  {% include "styling/basic_table.html" %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/coordinator.css') }}">
{% endblock %}

{% block content %}
  {% include "components/topnav.html" %}

  <h2>
    Assign Terms
  </h2>

  <form id="assign_lecturers">
    <div id="modules_lecturers_view_tab" class="col s12">
      <div id="modules_lecturers_view" class="card">

        {{ tables.modules_lecturers|safe }}

        <script>
          document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
          });
        </script>

        <div style="font-size: 12px; font-style: italic;">
          Warning: Once assigned, lecturers cannot be unassigned/reassigned without admin permission.
        </div>

        <div>
          <input type="submit" class="input_submit" value="Assign"
          style="margin-top:12pt; font-size:12pt; display:block; margin-left:auto; margin-right:0;">
        </div>
      </div>
    </div>
  </form>

  <div id="create_status_info"></div>

  <script src="/static/js/assignLecturer.js"></script>
  <script>
    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>
  
{% endblock %}