{% extends "base.html" %}

{% block styles %}
  {% include "styling/table.html" %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/coordinator.css') }}">
{% endblock %}

{% block content %}
  {% include "components/topnav.html" %}

  <div class="content">
    <div class="row content_header">
      <div class="col user_icon">
        <a href="/profile"><span class="material-icons">account_circle</span></a>
      </div>
      <div class="col user_block">
        <a class="username" href="/profile">{{ current_user.username }}</a>
        <div class="user_role">coordinator</div>
      </div>
    </div>

    {% if restructure_success %}
      <div class="notification" id="restructure-notif">
        <a onclick="hideNotification()" style="cursor: pointer; margin-right: 4pt;">
          <span class="material-icons" style="font-size: 10pt;">close</span>
        </a>
        Grade restructure successful!
      </div>
    {% endif %}

    {% if structure_creation_success %}
      <div class="notification" id="restructure-notif">
        <a onclick="hideNotification()" style="cursor: pointer; margin-right: 4pt;">
          <span class="material-icons" style="font-size: 10pt;">close</span>
        </a>
        Grade structure creation successful!
      </div>
    {% endif %}

    <!-- Tabs -->
    <div class="row content_tab">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#modules_lecturers_view_tab">Lecturer Assignment</a></li>
          <li class="tab col s3"><a href="#grade_structure_view_tab">Grade Structure</a></li>
        </ul>
      </div>
    </div>

    <!-- Modules/Lecturers view -->
    <div class="row content_tab" id="modules_lecturers_view_tab">
      <div class="card" id="modules_lecturers_view">
        <div class="card_title">
          Lecturer Assignment
        </div>

        {{ tables.modules_lecturers|safe }}

        <script>
          $(document).ready(function () {
            $('#modules_lecturers-table').DataTable();
          });
        </script>

        <a href="/coordinator/assign_lecturer" class="a_button">Assign Lecturer</a>
      </div>
    </div>

    <!-- Grade Structure view -->
    <div class="row content_tab" id="grade_structure_view_tab">
      <div class="card" id="grade_structure_view">
        <div class="card_title">
          Grade Structure
        </div>

        {{ tables.grade_structure|safe }}

        <script>
          $(document).ready(function () {
            $('#grade_structure-table').DataTable();
          });
        </script>
      </div>
    </div>
  </div>

  <script>
    function hideNotification() {
      const notif = document.getElementById('restructure-notif')
      notif.style.display = 'none';
    }
  </script>
  <script>
    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>
{% endblock %}